html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    margin: 0px;
    padding: 0px;
    font-family: 'Courier New', Courier, monospace;
    background-color: black;
}

/*Responsive Navigation Bar*/

.logo {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.nav {
    height: 0px;
    width: 100%;
    position: relative;

}

.nav>.nav-header {
    display: inline;
}

.nav>.nav-header>.nav-title {
    display: inline-block;
    font-size: 22px;
    color: white;
    padding: 20px 10px 10px 20px;
}

.nav>.nav-btn {
    display: none;
}

.nav>.nav-links {
    display: inline;
    float: right;
    font-size: 18px;
    padding-right: 10px;
}

.nav>.nav-links>a {
    display: inline-block;
    padding: 20px 10px 13px 20px;
    text-decoration: none;
    color: white;
}

.nav>.nav-links>a:hover {
    text-decoration: none;
}

.nav>#nav-check {
    display: none;
}

@media (max-width:710px) {

    .nav>.nav-header>.nav-title {
        display: inline-block;
        font-size: 16px;
        color: black;
        padding: 22px 10px 15px 20px;
    }

    .nav>.nav-btn {
        display: inline-block;
        position: absolute;
        right: 0px;
        top: 0px;
    }

    .nav>.nav-btn>label {
        display: inline-block;
        width: 50px;
        height: 50px;
        padding: 18px 0px 0px 10px;
    }

    .nav>.nav-btn>label>span {
        display: block;
        width: 25px;
        height: 10px;
        border-top: 2px solid white;
    }

    .nav>.nav-links {
        font-size: 16px;
        position: absolute;
        display: block;
        width: 100%;
        background-color: white;
        transition: all 0.3s ease-in;
        overflow-y: hidden;
        top: 60px;
        left: 0px;
        z-index: 999;
    }

    .nav>.nav-links>a {
        display: block;
        width: 100%;
        color: black;
    }

    .nav>#nav-check:not(:checked)~.nav-links {
        height: 0px;
    }

    .nav>#nav-check:checked~.nav-links {
        height: calc(100vh - 50px);
        overflow-y: auto;
    }
}

/*First Section*/

.firstContent {
    padding: 200px 200px 200px 200px ;
    text-align: center;
    margin: auto;
}

.heading2 {
    color: white;
}

.caption {
    color: white;
}

@media (max-width:710px) {
    .firstContent {
        padding: 100px;
        margin: auto;
    }

    .heading2 {
        font-size: 20px;
    }

    .caption {
        font-size: 16px;
    }
}

/*Second Section*/

.beige {
    background-color: #EADDCA;
}

.secContent {
    padding: 20px;
    text-align: center;
    margin: auto;
}

.webdev {
    color: black;
}

.subtitle {
    color: black;
}

.column {
    float: left;
    width: 50%;
    padding: 50px;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.row>.column>.portfolio {
    width: auto;
    max-width: 100%;
    border: 1px solid black;
    height: auto;

}
.firstProject {
    padding-top: 25px;
}

.firstProject_caption {
    padding-bottom: 25px;
}

.gotosite {
    color: black;
}

.gotosite:hover {
    color: white;
    background-color: black;
    text-decoration: none;
}

.webdesign {
    width: auto;
    max-width: 100%;
    border: 1px solid black;
    height: auto;
}

@media screen and (max-width: 600px) {
    .column {
        width: 100%;
    }

    .row>.column>.portfolio {
        width: auto;  
    }

    .firstProject{
        text-align: center;
        margin-top: -40px;
    }

    .firstProject_caption{
        text-align: center;
    }

    .gotosite {
        margin: auto;
        justify-content: center;
        align-items: center;
        display: flex;
    }
}

@media (max-width:770px) {
    .secContent {
        padding: 30px;
        margin: auto;
    }

    .webdev {
        font-size: 20px;
    }

    .subtitle {
        font-size: 16px;
    }
}

@media screen and (max-width: 1024px) {
    .firstProject {
        padding-top: 0px;
        font-size: 18px;
    }
}

/*footer*/

.ending{
    float: left;
    width: 50%;
    background-color: black;
    padding: 2px;
  }

  .footer{
    color: white;
    font-weight: bolder;
}
  
  .footer:after {
    content: "";
    display: table;
    clear: both;
  }

.copyright{
    padding-left: 20px;
}

.email{
    text-align: right;
    padding-right: 20px;
}

@media screen and (max-width: 600px) {
    .ending {
        width: 100%;
    }

    .copyright{
        text-align: center;
    }

    .email{
        display: none;
    }
}

@media screen and (max-width: 768px) {
    .ending {
        font-size: 12px;
    }

    
}



